---
layout: base
css: home.css
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} {% if paginator %} {% assign posts = paginator.posts %} {% else
  %} {% assign posts = site.posts %} {% endif %} {%- if posts.size > 0 -%}
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
    <li>
      <div class="hover-card">
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if post.desc -%}
        <p>{{ post.desc }}</p>
        {%- else -%}
        <p>{{ post.content | strip_html | truncate: 200, '...' }}</p>
        {%- endif %}
      </div>
      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <!-- Pagination links -->
  <div class="pager">
    {%- if paginator.previous_page %}
    <a
      href="{{ paginator.previous_page_path | relative_url }}"
      class="previous-page"
      >Previous</a
    >
    {%- else %}
    <span class="pager-edge"></span>
    {%- endif %}

    <span class="current-page"
      >Page {{ paginator.page }} of {{ paginator.total_pages }}</span
    >

    {%- if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next-page"
      >Next</a
    >
    {%- else %}
    <span class="pager-edge"></span>
    {%- endif %}
  </div>
  {%- endif -%}
</div>
